# ==========================================
# Configurações de IDEs e SO na raiz do projeto
# ==========================================
.idea/
.vscode/
.DS_Store

# Latex
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg